.img-with-caption img {
    width: 100%;
    /*height: 205px;*/
}

.img-with-caption .desc {
    position: relative;
    top: -50px;
    height: 45px;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    /* width: 99%; */
    padding: 0px 0px;
    margin: 0px 3px;
}

.img-with-caption p.desc-content {
    color: #fff;
    position: relative;
    top: -85px;
    float: right;
    font-size: 1.2em;
}

.img-caption-border-top {
    position: relative;
    top: -95px;
    height: 2px;
    background-color: #FFF;
    width: 100%;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}